body {
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-line-height: 1.4;
    --bs-body-bg: var(--bs-gray-100);
    background-color: rgb(0, 1, 32);
  }
  
  .table {
    --bs-table-color: var(--bs-gray-600);
    --bs-table-bg: var(--bs-gray-100);
    --bs-table-border-color: transparent;
  }

  .component {
    color: var(--bs-gray-800);
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-200);
    border-radius: .25rem;
  }
  
  .component-header {
    color: var(--bs-purple);
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: rgb(255, 255, 255);
  }

.path-button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;

}

.find-device-button {
  background-color: rgb(79, 9, 158);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;

}